h1{
    font-size: 38px!important;;
}


.form-container-input{
    margin-bottom: 10px;
}

.form-input, select{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
}

label{
    font-size: 14px!important;
}

input:focus,select:focus{
    outline: none;
}

.button{
    width: 100%;
    background-color: #566e84;
    border: 1px solid #848484;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button:hover{
    background-color: #909090;
}

form{
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 26px;
}

.jumbotron{
    margin: 2rem 0;
}

.jumbotron .container{
    padding: 0;
}

.offset-md-1{
    margin: 0 auto;
}

.display-6{
    font-size: 20px;
}

.strong{
    font-weight: bold;
}

.remove{
    color: red;
    margin-right: 6px;
}

.edit{
    color: #1d82ff;
    margin-right: 6px;
}

.button-field{
    text-align: right;
}